In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [19]:
df = pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
median_test_scores = df['test_score(out of 10)'].median()
median_test_scores

8.0

In [9]:
df["test_score(out of 10)"] = df["test_score(out of 10)"].fillna(median_test_scores)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [10]:
df["experience"] = df["experience"].fillna("ten")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        ten                    8.0                           9      50000
1        ten                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [30]:
df.experience = df.experience.str().apply(w2n.word_to_num)
df

TypeError: 'StringMethods' object is not callable

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df["salary($)"])

ValueError: could not convert string to float: 'ten'